@media (min-width: 320px){
    .work-pic{
      img{
        //margin: 1em 1em;
        padding: 0;
      }
    }
    //.work-item{
    //  margin: 2em 1em;
    //}
  }
  @media (max-width: 900px) {
    .work-pic{
      img {
        max-width: 350px;
      }
    }
    .work-item{
      .work-text, .work-pic{
        margin: 0;
        padding: 0;
      }
    }
    .work-text{
      min-width: 320px;
    }
  }
  
  

  @media (max-width: 1150px){
    .work-pic img{
      width: 490px;
    }
  }
  @media (max-width: 1045px){
    .work-pic img, .work-text{
      width: 400px;
    }
    .work-text{
      padding: 0 1em 0;
    }
    .odd{
      .work-text{
        padding: 1em;
      }
    }
  }
  @media (max-width: 910px){
    .carusl-pic{
      height: 90vh;
    }
    .text{
      top: 15%;
    }
    .carusel-title{
        h1{
          font-size: 42px;
        }
        .common-text{
          font-size: 26px;
        }
    }
  }
  @media (max-width: 810px){
    .work-text{
      width: 320px;
    }
    .work-pic{
      margin: 0;
    }
    .mySlides{
      .carusl-pic {
        //height: 820;
      }
    }
  }
  
  @media (max-width: 740px) {
    .work-pic {
      img {
        width: 300px;
        margin: 1em 1em;
        padding: 0;
      }
    }
    .work-pic img{
      margin: 0;
    }
    form{
      width: fit-content;
      margin: 0;
    }
    .carusel-title {
      padding: 0 6em;
    }
    footer{
      padding: 3.7em 10.4em 5em;
    }
    .contact{
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
    }
    .contact-form{
      width: 500px;
    }
    header{
      min-height: 898px;
    }
    .advantages{
      padding: 0;
    }
  }
  @media (max-width: 675px) {
    .paired{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .work-text{
        order: 2;
      }
      .work-pic{
        order: 1;
        img {
          width: 100%;
        }
      }
    }
    .odd{
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      img{
        width: 100%;
      }
    }
    .work-item{
      margin-left: auto;
      margin-right: auto;
      text-align: center
    }
    .work-text{
      .green-text{
        font-size: 27px;
        line-height: 140%;
      }
    }
    .odd .work-text{
      padding: 0;
    }
    .contact-form{
      padding: 0;
    }
    .contacts {
      margin: 0;
    }
    .carusel-title {
      padding: 0 3em;
    }
    .network{
      padding: 7.3em 3em;
    }
  }
  @media (max-width: 420px){
    .header-titles{
      padding: 0;
    }
    .hub-btn{
      width: 200px;
      height: 54px;
      margin: 1.2em 8em 0 4em;
    }
    .cv-upload{
      width: 90%;
    }
    .text{
      h1{
        font-size: 30px;
      }
      .common-text{
        font-size: 20px;
      }
    }
  }
  
  @media (max-width: 355px){
    .work-pic{
      img{
        width: 310px;
      }
    }
    .advant-block{
      max-width: 300px;
      margin: 30px 0;
    }
    .contact-form{
      padding: 0;
    }
    footer{
      padding: 3.7em 1em 5em;
    }
    .contacts{
      margin: 4em 0.5em;
    }
  }
  @media (min-width: 1000px){
    .advantages{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
@media (min-width: 1600px ) {
  .work-item{
    margin: 3.2em 19em 0;
  }
}
  
  
  